.page {
    height: 100%;
    min-height: 0;
}

::deep .navigation-drawer {
    --dxbl-drawer-panel-body-padding-x: 0;
    --dxbl-drawer-panel-body-padding-y: 0;
    --dxbl-drawer-panel-footer-bg: none;
    --dxbl-drawer-panel-header-bg: none;
    --dxbl-drawer-separator-border-width: 0;
}

    ::deep .navigation-drawer > .dxbl-drawer-panel {
        background-color: var(--bs-body-bg);
        border-right: 1px solid #e0e0e0 !important;
    }

.navigation-drawer-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.375rem 0.375rem;
    width: 100%;
}

.navigation-drawer-header .logo {
    height: 1.5rem;
    width: 9rem;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.nav-buttons-container {
    align-items: center;
    display: flex;
    gap: 0.625rem;
    min-height: 2rem;
}

::deep .nav-buttons-container > a {
    color: inherit;
}

::deep .nav-buttons-container .back-button {
    padding-left: 0;
    padding-right: 0.25rem;
}

.page-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}


.text-gradient {
    background: linear-gradient( 90deg, var(--bs-dark), var(--bs-primary) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-gradient {
    background: linear-gradient( 90deg, var(--bs-warning), var(--bs-dark) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
